<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <extensions>
    <add assembly="NLog.Targets.ElasticSearch"/>
  </extensions>

  <!--<targets async="true">

    <target name="elastic" xsi:type="ElasticSearch" uri="http://172.17.0.7:9200" index="DomeAppApi" documentType="logevent">

      <field name="Type" layout="${event-context:item=Type}"  />
      <field name="Controller" layout="${event-context:item=Controller}"  />
      <field name="Action" layout="${event-context:item=Action}"  />
      <field name="ActionExcuteTime" layout="${event-context:item=ActionExcuteTime}"  />
      <field name="RequestUrl" layout="${event-context:item=RequestUrl}"  />
      <field name="RequestHeader" layout="${event-context:item=RequestHeader}"  />
      <field name="RequestBody" layout="${event-context:item=RequestBody}"  />
      <field name="RequestExtra" layout="${event-context:item=RequestExtra}"  />
      <field name="ResponseBody" layout="${event-context:item=ResponseBody}"  />
      <field name="CreateTime" layout="${event-context:item=CreateTime}"  />

    </target>

  </targets>-->

  <targets xsi:type="AsyncWrapper">
    <!--保存至文件-->
    <target name="log_file" xsi:type="File"
                    fileName="${basedir}/Logs/${shortdate}/${level:uppercase=false:padding=-5}.txt"
                    archiveFileName="${basedir}/Logs/${shortdate}/${level:uppercase=false:padding=-5}.txt"
                    createDirs="true" keepFileOpen="true" autoFlush="false"
                    openFileFlushTimeout="10" openFileCacheTimeout="30"
                   concurrentWrites="true" encoding="UTF-8"
                    layout="${longdate} | ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" />
    <!--保存至ElasticSearch-->
    <target name="elastic" xsi:type="ElasticSearch" uri="http://212.64.103.97:9200" index="Demolog" documentType="logevent">
      <field name="LogSource" layout="DemoApi"  />
      <field name="LogLevel" layout="${level}"  />
      <field name="LogTime" layout="${longdate}"  />
      <field name="message" layout="${message}" />
      <field name="origin" layout="${callsite}" />
      <field name="stackTrace" layout="${stacktrace}" />
    </target>

  </targets>

  <rules>

    <logger name="*" minlevel="Info" writeTo="elastic" />
    <logger name="*" minlevel="Info" writeTo="log_file" />
  </rules>
</nlog>
